{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint", "react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "prettier/prettier": 1,
    "react/jsx-fragments": [1, "syntax"],
    "react/destructuring-assignment": [1, "always"],
    "react/function-component-definition": [1, { "namedComponents": "arrow-function" }]
  }
}
