{
  "extends": ["stylelint-config-standard", "stylelint-config-idiomatic-order"],
  "plugins": ["stylelint-selector-bem-pattern"],
  "rules": {
    "custom-property-empty-line-before": null,
    "alpha-value-notation": "number",
    "color-hex-length": "long",
    "selector-class-pattern": null,
    "plugin/selector-bem-pattern": {
      "preset": "suit",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:-[a-z]+[A-z]*)?(?:--[a-z]+[A-z]*)?(?:\\.is-[a-z]+[A-z]*)?(?:\\[.+\\])?$"
      },
      "utilitySelectors": "^\\.u-[a-z]+[A-z]*$",
      "implicitComponents": "src/components/**/*.css"
    }
  }
}
