.ColorRow {
  display: grid;
  align-items: center;
  padding: var(--padding-color-row);
  column-gap: var(--spacing-color-row);
  grid-column: 1;
  grid-template-columns: var(--grid-color-row-columns);
}

.ColorRow.is-dropTargetTop::before,
.ColorRow.is-dropTargetBottom::after {
  display: grid;
  width: var(--size-color-tile);
  height: 4px;
  background-color: var(--color-bg-brand);
  content: '';
  grid-column: 1 / 4;
}

.ColorRow.is-dropTargetTop::before {
  margin-bottom: var(--margin-color-row-droptarget);
}

.ColorRow.is-dropTargetBottom::after {
  margin-top: var(--margin-color-row-droptarget);
}

.ColorRow-buttons {
  display: grid;
  column-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.ColorRow-contrastRow {
  display: grid;
  align-self: stretch;
  padding: 0 var(--spacing-m) 0 var(--spacing-l);
  border-left: var(--border-1px);
  margin-left: var(--spacing-m);
  grid-auto-columns: var(--grid-contrast-table-columns);
  grid-auto-flow: column;
}

.ColorRow-contrastRow.is-selected {
  border-top: var(--border-1px-selected);
  border-bottom: var(--border-1px-selected);
}
