.lock-button-row-container > :last-child {
  justify-self: end;
}

.lock-button-row {
  grid-column: 2;
}

.lock-button-row-end {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
}

.lock-button-row-end > :first-child {
  grid-column: 2;
}