#color-table {
  grid-column: 1 / 3;
  grid-row: 2;
  display: grid;
  /* When CSS subgrid becomes supported, the color table should use it */
  grid-template-columns: fit-content(var(--width-main)) auto;
  grid-template-rows: fit-content(100%) auto;
}

.plugin #color-table {
  grid-template-columns: var(--width-main) auto;
}

.color-comparison-header > div {
  display: flex;
  flex-direction: column;
  width: var(--size-color-tile);
}

.lock-button-row-container > :last-child {
  justify-self: end;
}

.lock-button-row {
  grid-column: 2;
  padding: 0 var(--spacing-s);
  column-gap: var(--spacing-s);
}

.lock-button-row-end {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
}

.lock-button-row-end > :nth-last-child(2) {
  grid-column-start: 2;
}

.lock-button-row-end > :last-child {
  grid-column-start: 3;
}