.lock-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lock-button span {
  line-height: normal;
  font-size: var(--font-size-button);
  font-weight: 500;
}

.lock-button.locked {
  color: var(--color-text-brand);
}

.lock-button.locked svg {
  fill: var(--color-icon-brand);
}