.LockButton {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.LockButton.is-locked {
  color: var(--color-text-brand);
}

.LockButton-text {
  font-size: var(--font-size-button);
  font-weight: 500;
  line-height: normal;
}

.LockButton-icon.is-locked {
  fill: var(--color-icon-brand);
}
