.XYPicker {
  position: relative;
  width: 100%;
  max-width: var(--max-size-picker);
  height: auto;
  aspect-ratio: 1;
}

.XYPicker-loadingIndicator {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.XYPicker-loadingIndicator p {
  user-select: none;
}
