.input-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.input-container input {
  width: 100%;
  border: none;
}

.input-container input:not(:last-child) {
  border-right: 1px solid var(--color-border);
}

.input-container input.hex {
  text-align: start;
  grid-column: 1 / 4;
}