.color-input-container {
  border: var(--border-1px);
  border-radius: 4px;
}

.color-input-container input {
  border: none;
}

.color-input-container input:not(:last-child) {
  border-right: var(--border-1px);
}

.color-input-container input.hex {
  text-align: start;
  grid-column: 1 / 4;
}