.ColorInput {
  display: grid;
  border: var(--border-1px);
  border-radius: 4px;
  grid-template-columns: var(--grid-color-input-columns);
}

.ColorInput-input {
  border: none;
}

.ColorInput-input:not(:last-child) {
  border-right: var(--border-1px);
}

.ColorInput-input--hex {
  grid-column: 1 / 4;
  text-align: start;
}
