table {
  grid-row: 2;
  grid-column: 2;
}

thead, tbody {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: calc(var(--font-size) + 4px + 0.8rem);
  grid-row-gap: 0.4rem;
  align-items: center;
}

tr {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
}

td {
  padding-right: 0.5rem;
  word-spacing: -0.1rem;
}

.color-tile-container {
  width: var(--size-color-tile);
}