.color-row {
  margin: 0.5rem 0.5rem 0;
  display: grid;
  grid-template-columns: 24px 4.33fr 1.5fr;
  column-gap: 4px;
  align-items: center;
}

.color-row-sample {
  height: auto;
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-s);
  overflow: hidden;
}

.color-row-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
}

button .tooltip {
  visibility: hidden;
  white-space: nowrap;
  max-width: 160px;
  background-color: var(--color-bg-brand-transparent);
  color: var(--figma-color-text-onbrand);
  text-align: center;
  border-radius: var(--border-radius-s);
  padding: 0.5rem;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-bottom: 0.25rem;
  right: 0;
  transform: translate(5%, 0);

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0s
}

button:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition-delay: 1.5s
}