.picker-ball {
  pointer-events: none;
  position: absolute;
  top: calc(var(--radius-picker) * -1);
  left: calc(var(--radius-picker) * -1);
  width: calc(100% + var(--radius-picker) * 2);
  height: calc(100% + var(--radius-picker) * 2);
}