.xy-container {
  position: relative;
  width: 100%;
  max-width: var(--max-size-picker);
  height: auto;
  aspect-ratio: 1;
}

.xy-loading-indicator {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.xy-loading-indicator p {
  user-select: none;
}
