/** @define App */

.App {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: start;
  justify-content: start;

  /* Dynamic padding between 0 and X px, px number in calc is the point at which the padding is 0
  and max/(calc multiplier) determines the range in which the value ramps to max  */
  padding: 32px;
  padding-top: clamp(0px, calc((100vh - 800px) * 0.08), 32px);
  padding-left: clamp(0px, calc((100% - 800px) * 0.1875), 150px);
  grid-template-columns: var(--grid-main-columns);
  grid-template-rows: fit-content(100%) auto;
}

.App.is-plugin {
  padding: 0 0 16px;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: var(--border-1px);
  grid-column: 1;
  grid-row: 1;
}

.App-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-m);
  border-bottom: var(--border-1px);
  gap: var(--spacing-l);
}

.App-headerLeft {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.App-headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-l);
}

.App-pickers {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-picker);
  gap: var(--spacing-l);
}

.App-mainInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-l);
}

.App-textInputs {
  display: grid;
  align-items: center;
  gap: var(--spacing-m);
  grid-template-columns: auto auto;
}
